[2019-01-21 07:12] shyim opened #3 "Mail sending in cli container does not work"
sh: 1: /usr/sbin/sendmail: not found

In Sendmail.php line 134:

  Unable to send mail.

[2019-02-22 09:43] shyim commented on #3
Fixed meanwhile

[2019-02-22 09:43] #3 closed

[2019-04-04 09:01] shyim opened #4 "PHP 7.0 Image is broken"
2019/04/04 08:58:08 [emerg] 24#24: unknown directive "http2_push_preload" in /etc/nginx/global/shopware.conf:185
nginx: [emerg] unknown directive "http2_push_preload" in /etc/nginx/global/shopware.conf:185

[2019-04-09 13:58] shyim opened #5 "MySQL 8 Image is broken"
[code]

[2019-04-09 14:06] #5 closed

[2019-04-17 07:34] shyim commented on #4
Has been fixed

[2019-04-17 07:34] #4 closed

[2019-05-07 14:19] tinect opened #8 "install test_images on command"
it'll be great, if there would be a command to download and install the test_images with sdwc

[2019-05-14 08:14] #8 closed

[2019-07-15 14:13] RafaelKr opened #14 "Security: Database tool exposed to local network"
I'm just getting started with Shopware and this project.
I noticed that if you start all containers with `swdc up` the `shopware-docker_nginx_1` container is exposed to the LAN.

I think it would be okay for only the shop. Unfortunately this also exposes adminer/phpMyAdmin.

I think it would be better to expose the DATABASE_TOOL on 127.0.0.1:8080 or some other Port. Maybe the port should be config

[2019-07-16 07:12] shyim commented on #14
Main thing about this repository is, i have built it for development :sweat_smile:

* What do you mean with database_tool? Normally everything is handled using the nginx container.
* When you remove the PMA_PASSWORD it should ask your for an password.

[2019-07-16 07:55] RafaelKr commented on #14
Yes and that is awesome! :slightly_smiling_face:

- What I mean with database tool is adminer/phpMyAdmin. I'm just using phpMyAdmin as I didn't use adminer before.
- That would be a good solution, but just removing PMA_PASSWORD doesn't work unforunately. It's not asking for a password, it's just trying to access mysql without one. `mysqli_real_connect(): (HY000/1045): Access denied for user 'root'

[2019-07-16 16:27] shyim commented on #14
Maybe a solution for phpmyadmin could be to add an new configuration to enable auto login or not.

I have changed the built scripts to respect the MYSQL_ROOT_PASSWORD env.

To built the docker images you will need to install twig globally (npm install -g twig)

[2019-07-17 15:36] RafaelKr commented on #14
Yes, this would also be nice.

Thank you!

I tried that, this didn't work for me. Maybe it's because I'm using nvm. I created a `package.json` and installed it locally. This did the trick for me.

[2019-07-24 11:08] RafaelKr opened #17 "File not found."
I'm using the shopware composer project for Shopware 5.

I had swdc working. But suddenly I have the problem, that I'm only getting `File not found.` when trying to open a shop in the browser.
I tried to update the URL of one of my shops, I'm not sure if it was working before that change.
Afterwards I tried to do a clean install of swdc and a shop but without success.

The command `docker logs sho

[2019-07-24 11:53] shyim commented on #17
Can you rename the folder and remove "-"? Maybe thats the problem

[2019-07-24 12:12] RafaelKr commented on #17
Oh yes. That was the problem. Thank you!

The current RegEx in the nginx config does not work with dashes.
https://regex101.com/r/6ld5Nu/1

But dashes are valid domain characters. So I would recommend to update the RegEx.
I just tested the following RegEx with nginx, it's working: https://regex101.com/r/6ld5Nu/2
I can do a PR for it, if you want.

[2019-07-24 12:47] #17 closed

[2019-08-08 07:24] AryaSvitkona opened #24 "Enable caching leads to 500 error"
First of all a big thank you for your work in this repository!

I followed your manual and was able to setup a shopware 5 installation in just about a few minutes. Without caching the shop is very slow (frontend/backend). Thats why I switched from "CACHE_VOLUMES=false" to "true" inside the .env file.

After restart the docker containers, I receive a 500er error which I can't find inside the nginx

[2019-08-08 07:41] shyim commented on #24
@jinnoflife have you a idea?

[2019-08-08 09:46] AryaSvitkona commented on #24
I have to say that I use the newest docker binary and I work on OSX.
Hope that's not the issue but I found some forum posts, which are related to performance issues on OSX.

[2019-08-08 09:54] jinnoflife commented on #24
@AryaSvitkona Did the error occur in the frontend or in the backend?
Could you execute:
`swdc shell-root`
`cd /var/www/html/your_project_name && chown www-data:www-data ./* -R`

I just tried the config with a fresh installation which works like a charm.
@shyim I think it is something about the folder permissions after mounting the cache as volumes

[2019-08-08 10:13] AryaSvitkona commented on #24
Thank you for your reply, but that didn't solve the issue.
As you can see I have no entry inside the logfile since ~10:00 (tried it right now on ~12:00).
![Screenshot 2019-08-08 at 12 10 19](https://user-images.githubusercontent.com/1257375/62695039-cbcea180-b9d5-11e9-98e4-d716084a8846.png)

[2019-08-08 10:16] jinnoflife commented on #24
I don't see any cache-volumes that are created for "memoshop".
Could you take a screenshot of your directory where the projects are located?

Could you contact me via gitter?

[2019-08-08 10:20] AryaSvitkona commented on #24
I'm sorry, I don't have a gitter account since I work with Slack.

Am I wrong or does this happen in the upper part right after "swdc up" in the screenshot?

"Creating volume "shopware-docker_shopware-platform-vagrant_web_cache" with local driver" etc.?

[2019-08-08 10:27] jinnoflife commented on #24
Yes you are right. The volumes are created when you start the container.
There should be two to four volumes for each project-directory.

Somehow there are no containers for memoshop

[2019-08-08 11:21] AryaSvitkona commented on #24
Since this is a problem with my installation, there is no issue in this repo.
I will have another look and try to change as little as possible inside the config files.
e.x. changed "$HOME/Code" to "$HOME/Sites" and some other stuff

[2019-08-08 14:53] shyim commented on #24
Maybe enable error messages to see the right error message https://developers.shopware.com/developers-guide/shopware-config/#example-development-config

[2019-08-09 13:52] AryaSvitkona commented on #24
Thanks, I will give it another try this weekend.
It would be great if I / we can use your docker environnement :)

[2019-08-09 18:59] AryaSvitkona commented on #24
Well on a different machine I've done the same steps as I did a few days ago, but now the first time I run "swdc up" it created the cache folder and showed this error.

`Fatal error: Uncaught RuntimeException: Unable to create the store directory (/var/www/html/rutisshop/var/cache/docker____REVISION___/html). in /var/www/html/rutisshop/vendor/symfony/http-kernel/HttpCache/Store.php:40 Stack trace:

[2019-08-09 20:02] shyim commented on #24
Did you tried setting permissions to these folders? 🤔

[2019-08-09 20:27] jinnoflife commented on #24
@shyim I think I found the problem.

There was an access right problem for the volumes

[2019-08-09 20:31] shyim commented on #24
@AryaSvitkona can you test the referenced commit?

[2019-08-09 20:39] AryaSvitkona commented on #24
You guys are great! Hope there is a chance to give something back :)
Jup, but I'm not sure how I can checkout a specific commit on a fork of your repo.

[2019-08-09 20:44] jinnoflife commented on #24
@AryaSvitkona
You could use: `git remote add fork-jinn https://github.com/jinnoflife/shopware-docker.git && git fetch fork-jinn && git checkout fix/volumes`

[2019-08-09 21:19] AryaSvitkona commented on #24
Well I have to say that I have the same issue as before. I deleted everything, cloned your fork, switched to fix/volumes branch and installed a new SW instance.
Same error..

The "media" and the "var" folders were created inside the "shopware-docker" directory, but they are empty. The "media" and "var" folder inside the shopware project are not empty.

Am I wrong or shouldn't there be a url on lin

[2019-08-09 23:43] jinnoflife commented on #24
The `media` folder shouldn't be empty

At the moment I can't exactly tell where the error is coming from. On my machine everything works fine when remove the `FOLDER_web_cache` from the mounted volumes - don't as me why.

I'll take a look asap.

@shyim should we revert the commit?

[2019-09-18 20:14] sition opened #29 "how to use the platform module?"
trying to use swdc build for sw6 but it uses classic mode, how to swich / use the platform mode?

[2019-09-18 20:17] shyim commented on #29
Hey, its auto detects it. Did you cloned the Development Repository?

[2019-09-18 20:28] sition commented on #29
this one: git clone git@github.com:shopware/platform.git

[2019-09-18 20:32] shyim commented on #29
You have to clone development
git clone git@github.com:shopware/development.git

[2019-09-18 20:32] sition commented on #29
thanks! will try

[2019-09-19 16:54] shyim commented on #29
Is it working?

[2019-09-19 20:11] sition commented on #29
yes it is!, tried it on MAC, and it is working on mac, but a bit slow, even if we use :delegated option to mount the volumes.
we are thinking about changing to ubuntu in the office instead for the windows laptops, but for mac we want to stay on mac.

[2019-09-19 21:18] shyim commented on #29
I am recommending all users just to run everything locally. I have used on my last mac setup https://github.com/weprovide/valet-plus

[2019-09-24 06:37] shyim commented on #29
I will close then the Issue

[2019-09-24 06:37] #29 closed

[2019-11-21 19:21] AryaSvitkona commented on #24
I was investigating again and found out, that I'm not able to create a folder inside de cache directory due to missing permissions.
I checked the parent folder twice which has the same owner/group and same permissions as other folders in which I was able to create a subfolder.

example below:
![Bildschirmfoto 2019-11-21 um 20 18 47](https://user-images.githubusercontent.com/1257375/69369473-682666

[2019-11-21 19:30] shyim commented on #24
Can you run swdc shell-root and fix the permissions?
chown -R dev:dev /var/www/html/shopware5/var

[2019-11-21 19:36] AryaSvitkona commented on #24
Jep, solves the issue, but now it stucks again while writing inside the directory.
[code]

[2019-11-21 19:39] shyim commented on #24
Do the same with
chown -R dev:dev /var/www/html/shopware5/web

[2019-11-21 19:48] AryaSvitkona commented on #24
Great, solved the 500er issue :)
I'm not sure how that issue appeared, since I never touched the folders before.
Seems that this issue can be marked as resolved, right?

[2019-11-21 20:06] shyim commented on #24
How is the performance?

[2019-11-21 20:14] AryaSvitkona commented on #24
I have to say that the performance didn't increase since I activated the caching inside .env
I'm much faster with my local apache 2.4 setup. But as we know docker on osx isn't as fast as on linux.

[2019-11-22 09:13] #24 closed

[2019-12-15 09:53] doctor-damager opened #35 "xdebug"
Hello, how can I use xdbug? Do i have to set some special setting? I try to use it with PHPStorm.

[2019-12-15 10:35] shyim commented on #14
I will close then the issue

[2019-12-15 10:35] #14 closed

[2019-12-15 11:08] shyim commented on #35
Hey,
there was an issue with the CI. Now the xdebug images pushed.

You can easily start with ``swdc up xdebug`` directly with xdebug enabled. Otherwise, add suffix ``-xdebug`` to the php version in the env file.

[2019-12-26 09:43] #35 closed

[2020-03-03 12:09] tinect opened #42 "504 Gateway Time-out"
Please increase timouts :-) There seems to be a timeout after 60 seconds.

Thank you.

[2020-03-04 07:39] #42 closed

[2020-04-03 13:54] zaifastafa opened #43 "Docker Connectivity"
Love the comprehensive way to create different environments for testing with a single docker installation. However, I wanted to ask how do make the connection of docker with Phpstorm especially to execute unit tests. By using the regular docker installation from the shopware git repository, I am able to execute it properly. But in here, it gives this error. I am using

[code]
I have tried both the

[2020-04-03 14:41] shyim commented on #43
Are you running that command inside the container or outside?

I have on my machine a host entry for "mysql" to 127.0.0.1

[2020-04-03 14:44] zaifastafa commented on #43
Do I have to create that entry? I have setup a remote interpreter in Phpstorm for the unit tests. This is the command that gets executed:
[code]

[2020-04-06 08:02] zaifastafa commented on #43
Hi @shyim any update on this? Have you setup remote interpreter with PhpUnit in PhpStorm with this setup?

[2020-04-06 08:06] shyim commented on #43
I don't use those features 🙈

[2020-04-06 08:21] philipgatzka commented on #43
Hey @zaifastafa , I'm using this setup with the PhpStorm tools as well, your approach using the `docker-compose` interpreter should work. Since your issue seems to be caused by name resolution errors - did you by any chance modify the given container networks, or maybe set a fixed DNS server for your docker daemon (guessing a bit here)? Also, how does the database connection in `config.php` look l

[2020-04-06 08:49] zaifastafa commented on #43
@philipgatzka No I am simply using the default configurations and setup from the repository. The shop loads and works perfectly fine when I execute the `swdc build` and `swdc open` commands. I can access everything, the frontend and the backend as well. It is just when using the Phpstorm tools to execute the unit tests do I get this error.

For the sake of being thorough, do you know how can I res

[2020-04-06 12:00] philipgatzka commented on #43
The daemon can be configured [like this](https://docs.docker.com/engine/reference/commandline/dockerd/#daemon-configuration-file), but I think I've figured out what the problem is.

`docker-compose` creates a new network for the container when it is used without the `COMPOSE_PROJECT_NAME` being set (which is the case when we're referencing the swdc file under /tmp). Therefore the container running

[2020-04-06 12:16] zaifastafa commented on #43
@philipgatzka great thanks! Will keep checking here for an update. It really is a great solution for setting up different versions of SW for development, especially in the case of unit and functional tests. Would be even better if we can get the PhpStorm to work with it.

[2020-04-07 06:10] alpham8 opened #44 "Database escaping"
Hi,
would be nice if you could add database name escaping, so that e. .g project names like `my-project` also valid for `swdc build my- project`

[2020-04-07 06:13] alpham8 opened #45 "psh support"
Hi,

we would love to see psh.phar support in this project! 💜

For me, it worked in order not to loose the database credentials by creating a ``.psh.yaml.override`` file like this:
[code]
So, in order to get it into ``swdc build`` you could just copy the contents that you write in ``.env`` into this file above, that should do the trick 😄

Thanks in advice 😄

[2020-04-07 06:53] shyim commented on #45
It's currently a psh replacement. So I don't want to support that.

[2020-04-07 06:53] #45 closed

[2020-04-09 18:39] philipgatzka commented on #43
Well, it seems like I misconfigured something on my other machine. I tried it with the `COMPOSE_PROJECT_NAME` variable and a fresh setup now and it works as intended :slightly_smiling_face:
This is a screenshot of my interpreter configuration:
![phpstorm-interpreter-config](https://user-images.githubusercontent.com/16081565/78929100-13945400-7aa2-11ea-8be1-f92bf75a8ec4.png)

Does this work for you

[2020-04-10 07:01] zaifastafa opened #46 "Container does not start with xdebug"
Hi, when using
[code]

with `PHP 5.6` I get this error:
[code]

[2020-04-10 07:02] zaifastafa commented on #43
Hi @philipgatzka thanks I will check it out and update here asap.

[2020-04-10 08:19] #43 closed

[2020-04-10 08:35] shyim commented on #46
Should be fixed when the build is finished from https://github.com/shyim/shopware-docker/commit/125a4c193772c92e1bfb3011331e9cbc604cddee

[2020-04-10 09:20] zaifastafa commented on #46
OK, also can you post some documentation regarding the SW6 setup? Executing `swdc build development` runs successfully but when `swdc open development` is executed, it shows `503 Service Unavailable` page instead of the shop.

[2020-04-10 10:33] shyim commented on #46
Are you using really PHP 5.6 for SW6?

[2020-04-10 11:59] zaifastafa commented on #46
@shyim No, but I am using your setup for development on both versions. I have a separate setup `7.3` for SW6

[2020-04-18 17:10] shyim commented on #46
Do you changed the PHP Version per project?

[2020-04-19 11:44] zaifastafa commented on #46
Yes I wanted to test something out for SW 5.2 so I had changed the `.env` to install PHP 5.6 and then for the SW 6 development I changed it to PHP 7.3 and doing `swdc up xdebug` after doing `swdc down` so that new image is downloaded for the PHP.

So no, I was not using PHP 7.3 for Shopware 5.2

[2020-04-25 17:35] zaifastafa opened #47 "Apache Setup"
Hi @shyim can we have an option of setting up an Apache server as well from within the `.env` file? Sometimes we do not always need an nginx server for e.g if we want to replicate an existing live setup locally.

[2020-04-25 20:02] shyim commented on #47
Currently not.
Do you need anything special in the apache setup? I could create a new image for that

[2020-04-25 21:20] zaifastafa commented on #47
Would that be compatible with the existing structure and flow? If so then yes that would be much appreciated. Just the regular PHP with xdebug. Ideally it would be awesone for all relevant PHP versions such as 5.6, 7.2 and 7.3, but if it takes too much of your time then just 7.2 would be great.

[2020-04-27 09:21] zaifastafa opened #48 "Admin commands doesn't work"
Hi, so I was developing an administration module and turns out the `swdc admin-build` and `swdc admin-watch` commands do not work.  It just prints out the same command list which we get when executing `swdc`.

Is there a different way of calling those commands ? I haven't tried the storefront commands yet.

 From within the container shell, we do not have `swdc` available there. So I am running it

[2020-04-27 09:23] shyim commented on #48
Which type of shopware 6 installation do you have?

[2020-04-27 13:18] zaifastafa commented on #48
It is from the git repository. But instead of using `psh` I use `swdc` commands.

[2020-04-27 13:31] shyim commented on #48
which repository? development?

[2020-04-27 14:37] zaifastafa commented on #48
Yes, development with a platform repo inside.

[2020-04-27 15:51] shyim commented on #48
Did you executed `swdc admin-watch [Folder]`

[2020-04-27 16:26] zaifastafa commented on #48
I see. No I didn't check with the folder argument. The usage was not clear. Will try that out. Thanks.

[2020-04-28 02:58] #48 closed

[2020-05-05 10:13] zaifastafa commented on #46
@shyim
Getting this related error, even after pulling the latest changes.

``ERROR: manifest for shyim/shopware-platform-nginx:php56-xdebug not found: manifest unknown: manifest unknown``

I know its due to the `platform` directory but I have the sw6 in the same folder as my other sw5 versions, and since there is just a one `CODE_DIRECTORY` option given in the `env` file.

So it would be great if

[2020-05-05 10:28] shyim commented on #46
You should set the `PHP_VERSION` to a most used php version.

When a single folder needs a another PHP Version, overwrite it for it.
Example: Your folder is named: sw510

VHOST_SW510_IMAGE=shyim/shopware-classic-nginx:php56

So only that folder uses that image and not **all**

[2020-05-05 15:20] zaifastafa commented on #46
ahan I see! cool! thanks. yes it works. it is so much faster than `psh`. Thanks alot.

[2020-05-05 15:20] #46 closed

[2020-05-09 13:48] wahidnory opened #49 "Invalid image in the compose file"
Hello I'm currently trying to set this environment up on my laptop, but I'm facing an issue with the **swdc up** command.

What happens is when I do that I get the following error message:
[code]

When I open the /tmp/swdc-docker-compose.yml file in the _app section the image is empty.
like so:
[code]

I'm working on Linux (Manjaro) with this docker version: Docker version 19.03.8-ce, build afacb8

[2020-05-09 15:48] shyim commented on #49
Hey,

how does your folders look in the $CODE_DIRECTORY? Do they have any special characters?

[2020-05-09 16:10] shyim commented on #44
Is fixed with https://github.com/shyim/shopware-docker/commit/d04791983888f148fa4cb6eb1c85ab8ebd91773f

[2020-05-09 16:10] #44 closed

[2020-05-09 17:26] shyim commented on #47
https://hub.docker.com/r/shyim/shopware-classic-apache/tags
https://hub.docker.com/r/shyim/shopware-platform-apache/tags

Can be used with an override of the image. Example:

(SW6 is my folder)
[code]

[2020-05-09 17:26] #47 closed

[2020-05-10 11:39] wahidnory commented on #49
Heya,

This is what it looks like
# Source code root directory
CODE_DIRECTORY="$HOME/Development/shopware"

[2020-05-10 14:06] shyim commented on #49
When you cloned Shopware in `$HOME/Development/shopware`. You have to set `$HOME/Development`

[2020-05-10 15:02] wahidnory commented on #49
Thanks!

Changing:
[code]
to
[code]

Where $HOME/Development/shopware containing a clone of the shopware installation.
And everything works and builds.

Thank you very much for your time and effort

[2020-05-10 15:02] #49 closed

[2020-05-19 14:44] anewarray opened #50 "swdc-inside: No such file or directory"
I tried to install shopware-docker on wsl. Everything was finde until I tried to build:
./swdc build sw6
Message:
swdc-inside: No such file or directory

[2020-05-20 05:51] shyim commented on #50
I have no idea. Never used WSL for that.
swdc-inside is only called inside the docker container.
Can you do swdc shell
and check /opt/swdc exists?

[2020-05-20 07:14] anewarray commented on #50
It works now. It was my mistake
for WSL-Installations it is important to clone this repository into your Windows Directory (enable File-Sharing in Docker) and not inside the installed Linux.

[2020-05-20 07:14] #50 closed

[2020-05-20 07:22] shyim commented on #50
How is the performance? And which version is currently used 1 or 2?

[2020-05-20 10:59] anewarray commented on #50
I use currently 1. There were problems with the persmissions of config/jwt/public.pem (i could not change the permissions). The performance could be better but I will check if the watchers are helping.

[2020-05-29 08:07] zaifastafa opened #51 "Frontend does not load after pulling latest changes"
Hi @shyim the frontend for SW5 does not load after pulling the latest changes for this repository AND pulling the shopware 5.6 repo.

When typing `sw5.dev.localhost` it changes to `sw5./` and gives the `site cannot be reached` error.
The backend however, works properly when typed `sw5.dev.localhost/backend`

Is there anything in the SW5 repo that is maybe conflicting with your setup?

P.S. I did a

[2020-05-29 08:16] shyim commented on #51
Currently the env inheritance seems not to work.
You need to add to `~/.config/swdc/env`

[code]

[2020-05-29 08:28] zaifastafa commented on #51
@shyim does not seem to be working. It changes to `http://sw5.%22dev.localhost%22/` instead now. I tried removing the `"` around it as well, but didnt make any differennce.

[2020-05-29 09:02] shyim commented on #51
Did you run after the change again swdc up?

[2020-05-29 09:06] zaifastafa commented on #51
@shyim Yes, I did `swdc down` and then `swdc up xdebug` again.

[2020-05-29 09:09] shyim commented on #51
Can you remove it from your config pull again. and try again?

[2020-05-29 09:36] zaifastafa commented on #51
@shyim the error is still the same.

[2020-05-29 09:36] shyim commented on #51
Okay I have it too. I looking into it.
You can access the backend with /backend and fix the setting in the settings

[2020-05-29 09:40] #51 closed

[2020-05-29 09:41] shyim commented on #51
Is fixed with the attached commit

[2020-06-03 06:30] zaifastafa opened #52 "Bash Prompt"
Hi, after the recent update I also see that the bash prompt is always shown as `bash-5.0$` after doing `swdc shell`. Is there a way to get the previous prompt which also showed which directory we are in, or something like a configuration which we can enable/disable? Right now whichever directory we are in, it always shows `bash-5.0$`.

Thanks.

[2020-06-03 06:45] shyim commented on #52
I will fix it later. I have switched the base image from Debian to Alpine. (reduces the image size 100MB)

[2020-07-06 07:12] zaifastafa opened #53 "Using admin-watch I cannot login to the administration"
Hey, I am using `admin-watch` and the administration opens on port 8181, but when I login, it keeps redirecting me to my login page so I cannot login.

[2020-07-06 07:38] zaifastafa commented on #53
OK I can confirm this is not related to my build. The build is compiling successfully, yet I cannot login to the administration.

[2020-07-06 07:43] shyim commented on #53
You have to use localhost as host. Its working in core since 6.2

[2020-07-06 08:05] zaifastafa commented on #53
So the custom domain wont work for the watch commands. I see. Let me try that and get back to you. Thanks.

[2020-07-06 08:08] #53 closed

[2020-07-08 07:08] shyim opened #56 "Installation of Shopware 5.1 and earlier does not work"
sw:database:setup does not exists

[2020-07-14 06:52] #56 closed

[2020-07-17 15:23] zaifastafa opened #60 "Saleschannel Mapping Exception"
Hi, after doing a build on the latest pull, I get this exception
[code]
when loading the storefront. I verified from the admin that the domain url is set for the saleschannel.

It says unable to find a matching sales channel for the request.

**EDIT**: It turns out that the recent introduction of HTTP_PORT is causing the problem. It is adding the :80 in the domain URL which fails when opening the

[2020-07-20 08:58] shyim commented on #60
Yup.
Didnt checked the PR sorry fixed with https://github.com/shyim/shopware-docker/commit/028414f648a99cf7e1533fd0c3da7ca0ede037ae

[2020-07-20 08:58] #60 closed

[2020-07-31 08:19] zaifastafa opened #61 "Getting error when pulling the latest nginx-proxy image"
Pulling proxy (shyim/nginx-proxy:latest)...
ERROR: The image for the service you're trying to recreate has been removed. If you continue, volume data could be lost. Consider backing up your data before continuing.

After continuing ..
ERROR: pull access denied for shyim/nginx-proxy, repository does not exist or may require 'docker login': denied: requested access to the resource is denied

[2020-07-31 08:54] shyim commented on #61
You are right :see_no_evil:
Should be fixed now

[2020-07-31 09:18] #61 closed

[2020-10-06 12:34] zaifastafa opened #65 "Getting bad address 'mysql' error when building containers"
![image](https://user-images.githubusercontent.com/24492269/95201836-e844b480-07f9-11eb-9f2f-2cbc9b8c0277.png)

I was using mysql:8 image but I saw in the Shopware doc that it is not recommended due to technical issues. So I switched back to 5.7 but now I keep getting this error even after doing docker prune and removing all images/data/volumes.

I tried official mysql image and also shyim docker

[2020-10-06 12:36] shyim commented on #65
@philipgatzka Did you had this not on your setup? I guess it was dns related stuff

[2020-10-06 12:45] zaifastafa commented on #65
So how to resolve this?

[2020-10-06 13:48] shyim commented on #65
In /etc/resolv.conf you have a search domain. Maybe remove it. I guess that was it

[2020-10-07 04:18] zaifastafa commented on #65
It is dynamically generated so any changes in that file gets overridden.

[2020-10-07 04:19] zaifastafa commented on #65
If I use mysql:8 only then it builds properly. Other than that any version or another image gives this bad address issue.

[2020-10-07 09:23] zaifastafa commented on #65
I had to delete the complete repository and then clone it again for it to work.

[2020-10-07 10:45] shyim commented on #65
Strange. Did you had changed something?

[2020-10-07 12:14] zaifastafa commented on #65
No just started from scratch. Tried different images but it kept giving the bad address issue. So finally I just deleted everything including the repo and then used 5.7 for mysql and it worked

[2020-10-19 05:55] zaifastafa opened #66 "DNS does not resolve for Ubuntu 20.04 LTS"
I upgraded the system to Ubuntu 20.04 LTS but now I get cURL error  `cURL error 6: Could not resolve host: some.host.com (see https://curl.haxx.se/libcurl/c/libcurl-errors.html)`

Is there a quick fix for it?

[2020-10-19 06:04] zaifastafa commented on #66
Doing `swdc down` and then `up` resolved it. Weird, as the containers were already stopped before I ran `up`.

[2020-10-19 06:04] #66 closed

[2020-10-19 09:51] shyim commented on #65
As it works. I will close this

[2020-10-19 09:51] #65 closed

[2020-10-20 09:40] zaifastafa opened #67 "Using SOAP requests does not load"
SOAP-ERROR: Parsing WSDL: Couldn't load from 'https://some-path-here?wsdl' : failed to load external entity. I gogoled a bit, and found that it is due to some SSL issue. So I added the options:
[code]
But it still does not work. On a live server it is working after adding the `ssl` options, but not on the docker setup.

[2020-10-21 12:38] shyim commented on #67
Can you provide an example script? Never used soap since 3 years 😅

[2020-10-21 13:59] zaifastafa commented on #67
No unfortunately I cannot disclose that link (client's requirement) but I think you can try any available `?wsdl` url. I tried the cURL as well and it gave "could not resolve host." Seems like it is not able to communicate outside the container for soap requests (even though it is enabled)

[2020-10-22 11:20] shyim commented on #67
Test Script:

[code]

Output:

[code]

See no problem so far

[2020-10-22 17:38] zaifastafa commented on #67
Hmm, so what could it be that is causing the issue at my end? It is working on a live server but not through my docker setup.

[2020-11-04 08:58] zaifastafa opened #69 "Using SSL_DEFAULT does not create https sales channel domain entry"
Like the title says, after enabling this in the env, and doing swdc buid sw6, it does not create https entry in the sales channel domain.

[2020-11-19 15:25] zaifastafa commented on #67
It is working now for some reason - weird.

[2020-11-19 15:25] #67 closed

[2020-11-28 16:44] shyim commented on #69
I could not reproduce it 🙈

[2020-11-30 14:57] zaifastafa commented on #69
I will try it again. It was a fresh installation though. But ok will check it again and update the issue accordingly.

[2020-11-30 15:01] zaifastafa commented on #69
it worked, but then we do not have a `http` entry. I think using default means the `https` should be default but we should also have a `http` domain, right? And the symfony debug toolbar does not work with SSH. Is it a known issue?

[2020-12-01 10:40] shyim commented on #69
The ssl default uses in the installation https for the links. Requests are still possible in both ways http and https. In Shopware 6 some of them will fail, cause the url is not in the sales channel settings.

What do you mean with ssh. Can you create a new issue for that to differentiate that

[2020-12-03 09:29] #69 closed

[2020-12-05 15:42] shyim opened #71 "Fix build errors for arm64 in php images"

[2020-12-17 15:12] LiaraAlis opened #73 "CLI image ssmtp.conf mailhub port not valid"
File `images/cli/rootfs/etc/ssmtp/ssmtp.conf` should be:
[code]

Current port is `25`, not `1025`

[2020-12-17 15:28] #73 closed

[2020-12-17 15:28] shyim commented on #73
You are right 😅

[2021-01-18 06:30] zaifastafa opened #75 "Error in `admin-build` after latest pull"
Hi @shyim After pulling the latest changes and doing `update-images`, I get the following errors when I execute `admin-build`

[code]
Any idea what is causing that? I am on the `6.3.4.0` branch.

[2021-01-18 06:33] shyim commented on #75
Delete node_modules by yourself and run swdc admin-init

[2021-01-18 06:42] zaifastafa commented on #75
Thanks, had to run `admin-build` instead of `admin-init`.

[2021-01-18 12:42] tinect opened #76 "add Imagick"
Please add imagick to the nginx-images. We use it to preview PDFs.

[2021-01-21 12:16] zaifastafa commented on #75
Hey, the same error comes when using `./psh install` And this time I already did remove node_modules from the administration and storefront as well.

[2021-01-21 12:25] shyim commented on #75
with same message?

[2021-01-21 12:42] zaifastafa commented on #75
Not exact same message but it is related to sass / node modues:

[code]

[2021-01-21 20:10] shyim commented on #75
Uff I can reproduce it. I hate it. Need to downgrade somehow nodejs...

[2021-01-21 21:36] #75 closed

[2021-01-21 21:38] shyim commented on #75
- Update this repository
- swdc update-images

[2021-01-22 07:37] zaifastafa commented on #75
Thanks! Works 🎊

[2021-01-22 18:28] zaifastafa opened #77 "Different MySQL image for specific projects"
Is it possible to have mysql:8 for sw6 project and mysql:5.7 for sw5 in the same .env file? Similar to VHOST but for mysql.

[2021-01-22 20:12] shyim opened #78 "Nginx Proxy is broken on newest Docker Update"

[2021-01-22 22:14] shyim commented on #78
Works now on NixOS Latest version with custom docker-gen

[code]

[2021-01-22 22:14] #78 closed

[2021-01-22 22:15] shyim commented on #71
Look again when here is interest on other platforms

[2021-01-22 22:15] #71 closed

[2021-01-22 22:16] shyim commented on #77
I guess the best would be to have custom services and volumes :thinking:

[2021-01-23 10:59] #77 closed

[2021-01-23 11:01] shyim commented on #77
I have adjust it to allow extending existing docker-compose

For MySQL 8

Create `$HOME/.config/swdc/services.yml` with content

[code]

[2021-01-23 11:05] zaifastafa commented on #77
Awesome! So how will we bind to to a specific project ? For e.g I want to use mysql 8 for just one specific folder.

[2021-01-23 11:48] shyim commented on #77
[code]

[2021-01-28 08:09] zaifastafa opened #79 "Using --without-demo-data still creates demo data"
**Describe the bug**
When using --without-demo-data for the `build` it still generates demo data

**To Reproduce**
Steps to reproduce the behavior:
1. `swdc build sw6 --without-demo-data`

**Expected behavior**
No demo data is generated

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment:**
 - OS: Ubuntu 20.04
 - Docker Version: Docker version 19.03.13, bui

[2021-01-28 08:57] shyim commented on #79
which template are you using?

[2021-01-28 08:59] zaifastafa commented on #79
Development

[2021-01-28 09:14] shyim commented on #79
Fixed with https://github.com/shyim/shopware-docker/commit/892cfcfc221c8893710c26ed4c3776dddc34c4dd
Seems like I was drunken

[2021-01-28 09:14] #79 closed

[2021-02-05 12:22] zaifastafa opened #83 "A wiki for setting up xdebug with phpstorm with this setup"
**Is your feature request related to a problem? Please describe.**
I always end up at a breakpoint  at index.php although there is none set there. Even if I step forward, it never reaches my breakpoint, and repeats after reaching `kernel->handle()`.

![image](https://user-images.githubusercontent.com/24492269/107033116-a7c06c00-67d6-11eb-89e0-afeaaa075fc1.png)

**Describe the solution you'd like**

[2021-02-08 10:42] thomasbeauvais opened #85 "Upgrade to Shopware 6.3.5.1 for Security Fixes"
Thanks for the great work and help with Shopware!

https://www.shopware.com/en/changelog/#6-3-5-1

It seems like there is an update that the Shopware team are really urging that is rolled out for customers. Can you please bump the release?

Thanks!

[2021-02-08 10:51] shyim commented on #85
This repository contains only the docker config and no shopware versions. Do you mean `shyim/shopware`? The CI is running there: https://github.com/shyim/shopware/runs/1854012466

[2021-02-08 10:51] #85 closed

[2021-02-08 11:17] thomasbeauvais commented on #85
Oooops, yup! I sure did! Thanks for the correction! Thanks for the release.

[2021-02-12 12:16] shyim opened #86 "Write a simple Docker Proxy to handle Database resets during e2e tests"
The normal PSH Setup has an uggly forever server which resets the database.

What we need:

A Webserver Running reseting on request the database with `swdc rsnap project`. This can be done using the Docker Socket to find the MySQL Container and execute the command there.

This can be in a new container or bundled into the cli

[2021-02-15 15:26] shyim commented on #83
I guess you have this option enabled

![image](https://user-images.githubusercontent.com/6224096/107965216-8d427b80-6faa-11eb-8443-5ecbfabc22f2.png)

[2021-02-15 15:33] zaifastafa commented on #83
Yeah I had this enabled 🤦🏼‍♂️

[2021-02-15 15:33] #83 closed

[2021-02-19 07:02] zaifastafa opened #88 "Memory exhaustion when running PHPUnit tests"
**Describe the bug**
It used to work fine, but after the recent changes, am not sure what happened at the image level, but the phpunit tests go into memory exhaustion after ~192 tests. Before I could execute 500+ tests in one go and it used to work fine.

**To Reproduce**
Steps to reproduce the behavior:
- Running phpunit tests more than 300

**Expected behavior**
- Should complete all the unit te

[2021-02-19 07:40] shyim commented on #88
How did you run it

[2021-02-19 07:48] zaifastafa commented on #88
Through phpstorm phpunit configuration.

[2021-02-24 14:20] shyim commented on #88
the cli container has 4gb memory limit. Use the cli service

[2021-02-24 14:20] #88 closed

[2021-03-03 12:23] shyim opened #89 "swdc build does not work on 6.4 without errors"
swdc build on a new project fails due admin build error

[2021-03-04 17:12] #89 closed

[2021-03-16 10:13] mtuchi opened #90 "realpath: command not found"
**Describe the bug**
Cannot start containers am getting an error saying that `realpath: command not found` and other errors

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the `shopware-docker`
2. Smylink `swdc` to `/usr/local/bin/swdc`
3.Run `swdc` to test
4. Run `swdc up`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
[code]

*

[2021-03-16 10:14] shyim commented on #90
You need to install realpath on mac. `brew install realpath`

[2021-03-16 10:17] mtuchi commented on #90
What about in production, Am using AWS ec2 instance with ubuntu image, do i need to install realpath as well ?

[2021-03-16 10:27] mtuchi commented on #90
`brew install realpath` was not working for me, So i used this quick fix
[code]
I got it from stackoverflow
https://stackoverflow.com/questions/3572030/bash-script-absolute-path-with-os-x

It seems to work fine but am not sure if it's a good idea

[2021-03-16 10:31] shyim commented on #90
Ahh it was brew install coreutils

[2021-03-16 10:36] mtuchi commented on #90
Ooh okay noted, It seems like most problem are solved after install `coreutils`. but am still getting
[code]

[2021-03-20 14:57] zaifastafa commented on #77
@shyim with reference to this - it works fine, but then the database / tables of this instance does not show up in the adminer as it takes the mysql version which is defined in the .env file and not the special one which we have defined.

[2021-03-20 16:50] shyim commented on #77
You need to login in adminer with host mysql8

[2021-03-22 10:18] shyim commented on #90
Maybe old version of bash? brew install bash?

[2021-03-29 22:03] #90 closed

[2021-04-02 10:59] zaifastafa opened #92 "Allow to set PHP version for CLI image"
We have an option at the moment to configure a php version for a host image. But the cli still uses the one defined in the .env file.

This approach does not work properly when for e.g we want to setup sw5 with php 5.6 because there is no 5.6 image available. When using 5.6 image with 7.3 version I get the following error:

[code]
Using Shopware 5.4
PHP 7.3 / 7.4
nginx 56-xdebug and 73-xdebug trie

[2021-04-02 11:04] shyim commented on #92
set the normal php version lower and override it for the vhost to an higher version

[2021-04-02 11:06] zaifastafa commented on #92
there is no option to set 5.6 in the PHP version. It says unknown name error.

[2021-04-02 11:45] shyim commented on #92
7.2 should also work for this error

[2021-04-02 11:46] zaifastafa commented on #92
ok - will try and close it if all works fine. thanks.

[2021-04-02 16:12] #92 closed

[2021-05-05 19:09] #86 closed

[2021-05-07 04:06] zaifastafa opened #94 "Getting 502 Bad Request after pulling / updating latest repository"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. git pull
2. swdc update-images
3. swdc up xdebug

**Expected behavior**
Everything works as normal

**Screenshots**
Getting this instead
![image](https://user-images.githubusercontent.com/24492269/117396417-5c237880-af13-11eb-823a-006e77641d7d.png)

**Environment:**
 - Ubuntu 20.04
 - Docker version 19.03.13, build 4484c46d

[2021-05-07 06:24] shyim commented on #94
This issue should not happen when `git pull` and `swdc update-images` happened 🤔 .
Are you have custom images?

[2021-05-07 06:32] zaifastafa commented on #94
nope, using your provided images.

MYSQL_VERSION=ghcr.io/shyim/shopware-docker/mysql:57
PHP_VERSION=7.4
USE_SSL_DEFAULT=false
PERSISTENT_DATABASE=true
CACHE_VOLUMES=true

[2021-05-07 06:34] shyim commented on #94
can you just try swdc up? 🤔

[2021-05-07 06:37] zaifastafa commented on #94
Just did, but still doesn't work.

[2021-05-07 06:39] shyim commented on #94
You don't have any changes in the swdc repository. Its pretty strange 🤔
Can you send the output of
docker inspect shopware-docker_app_<folder-name>_1 ?

[2021-05-07 06:43] zaifastafa commented on #94
<details>
<summary>Here it is</summary>
<p>

[code]
</p>
</details>

[2021-05-07 06:45] shyim commented on #94
Could you try

docker pull ghcr.io/shyim/shopware-docker/6/nginx:php74
docker rm -f shopware-docker_app_sw6_1
swdc up

[2021-05-07 06:46] zaifastafa commented on #94
php74: Pulling from shyim/shopware-docker/6/nginx
Digest: sha256:25f900d26a8a6f135d6c4b9edebfccc1d550d4afa4c60ea40691d48ab96550c8
Status: Image is up to date for ghcr.io/shyim/shopware-docker/6/nginx:php74
ghcr.io/shyim/shopware-docker/6/nginx:php74

Still nothing.

[2021-05-07 06:48] zaifastafa commented on #94
The 502 error happens on sw5 shops as well not just sw6

[2021-05-07 06:48] shyim commented on #94
AHHHHHHHHHHHHHHH I guess I have found it 🙈

Can you enable

ENABLE_CYPRESS=true

and run swdc up?

[2021-05-07 06:49] zaifastafa commented on #94
without `-xdebug` ?

[2021-05-07 06:50] shyim commented on #94
both should work

[2021-05-07 06:54] shyim commented on #94
CI is running https://github.com/shyim/shopware-docker/actions/runs/819382359
Should work in 7 minutes without that sorry 🙈

[2021-05-07 06:55] zaifastafa commented on #94
Yeah it works now. So cypress is required now?

[2021-05-07 06:55] shyim commented on #94
No when the ci is done it should work as before

[2021-05-07 06:56] zaifastafa commented on #94
great thanks! :)

[2021-05-07 06:56] #94 closed

[2021-05-12 11:08] CodoMg opened #95 "swdc storefront-watch not working Properly under Shopware 6.4."
Hy, first of all thanks for this tool.

I updated the Shopware version to 6.4. Since than i started to get this error.
After starting swdc storefront-watch <directory> compiles everything and runs under the correct url / port.
` swdc storefront-watch <directory>`
The Shop content loads but it looks like it has no styles nor js.
This is the Browser log.

![image](https://user-images.githubuserconte

[2021-05-12 11:13] shyim commented on #95
Which type of template is it? production?

It could be that the `Resources/app/storefront/build/proxy-server-hot/index.js` is now wrong. Can you check that file is unchanged to 6.4.0.0 release?

[2021-05-12 11:35] CodoMg commented on #95
Production.

As much as i cann tell, these changes has been made from 6.3.5 to 6.4

https://github.com/shopware/storefront/commit/10411f5837e5321a87f4961162f751be0091890b#diff-08fe350e533ff0ceedb5a20dc10261be86acf272918b373288d7c843bc635ddb

https://github.com/shopware/storefront/commit/e11a9c070637dbcc62f24c2d9f769ae7e12f0126#diff-08fe350e533ff0ceedb5a20dc10261be86acf272918b373288d7c843bc635ddb

[2021-05-12 12:13] shyim commented on #95
Is it in your codebase changed to the git version? In the older version that file has been patched by this setup there

[2021-05-12 13:09] CodoMg commented on #95
i just compared the code. In truth the content is not the same. But why?

I did updated Shopware from the backend. Are there other steps to be done?
Should i update shopware with composer maybe?

[2021-05-16 10:27] shyim commented on #95
For 6.4.0.0 it should run into these if conditions: https://github.com/shyim/shopware-docker/blob/master/modules/platform-local/storefront-watch.sh#L12-L16

That happens when this file contains this line: https://github.com/shopware/platform/blob/trunk/src/Storefront/Resources/app/storefront/webpack.config.js#L61

For some reason, it doesn't run at your installation there. Is very strange 🙈. Could

[2021-05-19 12:21] CodoMg commented on #95
Hy,

The storefront-watch from shopware-docker are the same.

The differences in the webpack file are like u see in the Image below. Not relevant...
![image](https://user-images.githubusercontent.com/56188324/118811371-38661800-b8ad-11eb-92af-2976e80bb5e0.png)

[2021-05-19 12:37] CodoMg commented on #95
So..

i tried to debug the storefront-watch script, and i found following:
I looks like there a Slash missing.
After i added the slash, the script downloaded a new Docker Image, and now the storefront watch is running under the url http://storefront-sw6.dev.localhost/ at port 80. But the CORS error is still present.

Does this help in any way?

![no-slash](https://user-images.githubusercontent.com

[2021-05-19 13:30] shyim commented on #95
Yes it helps.
Which cors error?

[2021-05-25 09:37] CodoMg commented on #95
ok.. CORS could be tricked around. I am intrested more on fixing the missing js files. Please let me know, how i could help.
Maybe an other hint, what to search for?

[2021-06-03 19:22] #95 closed

[2021-06-03 19:23] #76 closed

[2021-06-18 10:16] ROBJkE opened #101 "sw6.4-production requires composer 2"
**Describe the bug**
I installed shopware production template 6.4.1.0.
Then enter the shell and want to `bin/build.sh`
An error showed up tells me it requres composer 2. I've checked `composer -v` and version `1.10.22` is given.
How do i update / change to composer version 2?

**To Reproduce**
Steps to reproduce the behavior:
1. Install Shopware Production 6.4.1.0
2. Enter the Container Shell `swd

[2021-06-18 10:31] ROBJkE commented on #101
Found out that `composer2` command exists.
So i set an alias `alias composer="composer2"` in the local `~.bashrc`
Now i get version `2.1.3` if i run `composer` in the shell.

But if I run `bin/build.sh` again the error remains the same. weird.

[2021-06-23 11:15] shyim commented on #101
alias does not help. We will need to built a new fuckup to fix that...

[2021-06-23 20:00] shyim commented on #101
Fixed with https://github.com/shyim/shopware-docker/commit/a869efb543b7a676f7351b772873cb3a464badd5

Update your images with swdc update-images

[2021-06-23 20:00] #101 closed

[2021-07-05 08:21] zaifastafa opened #103 "npm not found after updating images"
**Describe the bug**
./modules/platform/admin-build.sh: line 20: npm: command not found

**To Reproduce**
Steps to reproduce the behavior:
- git pull
- swdc update-images
- swdc admin-build sw6

**Expected behavior**
build completes successfully.

**Environment:**
 - OS: Ubuntu 20.04

[2021-07-05 08:27] shyim commented on #103
Can you stop swdc and run docker volume rm shopware-docker_nvm_cache

[2021-07-05 08:29] zaifastafa commented on #103
Did, but the issue persists. New volume is created `Creating volume "shopware-docker_nvm_cache" with local driver after swdc up
`

[2021-07-05 08:39] shyim commented on #103
Can you try to run
bash /usr/local/bin/setup_nvm

[2021-07-05 08:43] zaifastafa commented on #103
Inside the container?

[2021-07-05 08:45] zaifastafa commented on #103
Nothing happens

![image](https://user-images.githubusercontent.com/24492269/124443507-2c6be200-dd97-11eb-9104-157e18b4d225.png)

[2021-07-05 08:47] shyim commented on #103
does node / npm work in swdc shell?

[2021-07-05 08:47] zaifastafa commented on #103
nope. command not found.

[2021-07-05 08:59] shyim commented on #103
Okay its broken at me too. I will look...

[2021-07-05 09:42] shyim commented on #103
Pull now again. Should be fixed in newer images as 7.3

[2021-07-05 09:55] zaifastafa commented on #103
Hey, I pulled, did remove the nvm volume, did update the images and then did admin-build again, but the problem is still there

[2021-07-05 09:56] zaifastafa commented on #103
the node and npm are there in the shell now, but the admin-build still cannot find the command.

[2021-07-05 10:13] zaifastafa commented on #103
OK for some reason it worked when I tried again right now.

[2021-07-05 10:13] #103 closed

[2021-07-09 09:48] Psycc opened #104 "How can I change the idekey from xDebug?"
I'm using this solution under WSL 2. Everything works so far.
But when I want to use xDebug with VS Code, it doesn't work. There is a Connection when I run `telnet 0.0.0.0 9000` on Ubuntu, but I think it's because the idekey is set to `PHPSTORM`.

Is there any possibility to make it run?

[2021-07-09 10:56] shyim commented on #104
You should be able to set the ide key there too

[2021-07-09 11:00] Psycc commented on #104
But where? I dont find any option for that.

[2021-07-09 11:21] shyim commented on #104
the idekey seems optional on this setup https://github.com/xdebug/vscode-php-debug/issues/572

[2021-07-09 12:00] zaifastafa opened #105 "PDF generated is empty after updating image"
**Describe the bug**
As already discussed with you on slack, the PDF generated is empty after the images are updated. So just creating an issue for easier tracking.

**Expected behavior**
PDF is created with proper content

[2021-07-09 12:17] Psycc commented on #104
Hm okay. To be sure, how can I debug a 500 Error on a product page with the following error?
`Object of class Shopware\Core\Checkout\Cart\Price\Struct\PriceCollection could not be converted to string`

[2021-07-09 12:27] shyim commented on #104
APP_ENV=dev?

[2021-07-09 12:33] Psycc commented on #104
APP_ENV=dev is already set.

[2021-07-09 21:08] shyim opened #106 "Improve support of Shopware 6 without template"
As of this week its possible to setup Shopware 6 just with the platform repository.

We need to tweak some commands like check to work there too

[2021-07-09 21:12] #104 closed

[2021-07-09 21:27] shyim commented on #105
Should be fixed now again

![image](https://user-images.githubusercontent.com/6224096/125137548-37af6c80-e10d-11eb-935e-eda0bdbd9939.png)

[2021-07-09 21:27] #105 closed

[2021-07-14 07:56] zaifastafa commented on #106
Can you please explain this in the README file too? We won't need to clone the development template anymore? Is that what you mean?

[2021-07-26 08:25] shyim commented on #106
Updated here https://github.com/shyim/shopware-docker/wiki/Usage

Yes platform only works since two weeks

[2021-07-26 08:25] #106 closed

[2021-07-27 17:55] zaifastafa opened #109 "db dump and restore via swdc"
### Feature request

We can go into the `mysql` container and then run the `mysqldump` command, but it would be great if we can directly import and dump database via `swdc` similar to what we can do with `ddev`.

Also if we can have the option of the resetting/removing the `DEFINER` during the `db` import, it would be great. This would especially help when importing a live/staging system to our lo

[2021-08-06 23:10] shyim commented on #109
Hey,

you don't need to go the MySQL Container. Just place the sql file under Code/snapshots/[project-name].sql and run `swdc rsnap [project-name]`

It currently doesnt strips definers :thinking: but could be a good way :D

[2021-08-19 15:34] creative-resort opened #114 "docker-compose version configurability or automation"
**Is your feature request related to a problem? Please describe.**
SWDC uses a hard-coded version "3.7". Even installing the latest docker and docker-compose via apt resulted in an incompatibility. Changing the up.sh file to use version "3.6" solved the issue.

**Describe the solution you'd like**
I'd like to propose an option to configure a custom docker-compose version, or an automatic detection

[2021-08-19 15:38] shyim commented on #114
You should use this guide to install docker-compose https://docs.docker.com/compose/install/. It should work then directly

[2021-08-23 18:40] creative-resort opened #117 "Wiki improvement"
### Discussed in https://github.com/shyim/shopware-docker/discussions/116

<div type='discussions-op-text'>

<sup>Originally posted by **creative-resort** August 19, 2021</sup>
From the Wiki, page
https://github.com/shyim/shopware-docker/wiki/Command-List
it is unclear how these commands are used and from where they are accessed.

Can you please include more detailed instructions, with an example

[2021-08-24 08:52] shyim commented on #114
Updated there https://github.com/shyim/shopware-docker/wiki/Installation

[2021-08-24 08:52] #114 closed

[2021-08-24 16:01] shyim commented on #109
Can you provide me a file with definers? @zaifastafa . Files generated by `swdc snap xx` does not contain definers 🤔

[2021-08-24 17:09] shyim commented on #117
I have answered in Discussions :)

[2021-08-24 17:09] #117 closed

[2021-08-25 17:39] zaifastafa opened #118 "Making changes in images / configuration"
Hey if we want to test some server configuration scenario, is that possible to do via swdc ?

For e.g. I want to check some functionality of the shop if a particular module is disabled or not available, in my case `proc_open` is sometimes disabled in some shops due to security concerns. If I want to test that out in swdc, where can I make the configuration / setup related changes to see the behavi

[2021-08-28 13:46] shyim opened #119 "test [SHY-13]"
test

[2021-08-28 13:46] shyim commented on #119
Automatically moved to [Linear (#13)](https://linear.app/shyim/issue/SHY-13/test-shyimshopware-docker-119)

---
*via LinearSync*

[2021-08-28 13:46] #119 closed

[2021-08-28 13:46] shyim opened #120 ""test" (shyim/shopware-docker #119) [SHY-13]"
test

___

[shyim/shopware-docker #119](https://github.com/shyim/shopware-docker/issues/119) by [@shyim](https://github.com/shyim) on GitHub

*via LinearSync*

___

Automatically created from [Linear (#13)](https://linear.app/shyim/issue/SHY-13/test-shyimshopware-docker-119)

*via LinearSync*

[2021-08-28 13:47] shyim commented on #119
Comment from [Linear (#13)](https://linear.app/shyim/issue/SHY-13/test-shyimshopware-docker-119)

Test

---
*via LinearSync*

[2021-08-28 13:48] shyim commented on #119
Comment from [Linear (#13)](https://linear.app/shyim/issue/SHY-13/test-shyimshopware-docker-119)

Bla

---
*via LinearSync*

[2021-08-28 13:50] #120 closed

[2021-09-07 07:27] shyim opened #122 "Mirror all used docker images to ghcr.io"
To avoid rate limiting on docker.io, we should mirror all used not hosted images to ghcr.io

[2021-09-27 20:33] tinect opened #129 "Add doc for tests"
It's hard to run tests with command.
There should be a doc how to configure phpstorm to run test.

[2021-10-10 02:21] LiaraAlis opened #131 "swdc up no longer working"
I tried to install swdc on my pc at home on WSL 2.
Docker Desktop 4.1.0 (69386) with enabled WSL integration is running and working.

After run `swdc up` I got the following error:
[code]

Any ideas?

[2021-10-10 11:57] LiaraAlis commented on #131
This works, thank you! :)
Do you plan to support compose v2 in the future?

[2021-10-10 12:48] shyim commented on #131
It is docker desktop related and not docker-compose v2. I use it already on daily base

see https://github.com/docker/compose/issues/8558

[2021-10-10 12:48] #131 closed

[2021-10-11 11:26] bjoern-flagbit opened #132 "Message about install jq / Error about python not found"
**Message during storefront-build:**
`Cannot check extensions for required npm installations as jq is not installed`

Could you pls install jq on the docker image?

Another message I was seeing is:
`gyp ERR! stack Error: Could not find any Python installation to use`

Maybe Python is also needed. Not sure about this.

I execute storefront-build on the cli docker image.

[2021-10-11 12:17] shyim commented on #132
thats wayne. it downloads afterwards the binary. so the error is okay

[2021-10-11 12:17] #132 closed

[2021-11-16 02:38] khanh-vu opened #136 "Cannot start mysql image in WSL2"
**Describe the bug**
I cannot start mysql image in Windows 10 (WSL2)
the version used: ghcr.io/shyim/shopware-docker/mysql:8
After `swdc up` done, mysql image will be crashed.
**Screenshots**
![image](https://user-images.githubusercontent.com/26863312/141885637-7b053d3e-f8f5-49b1-934a-45806a4559bd.png)
**Environment:**
 - OS: Windows 10 (WSL2 Ubuntu 18.04)
 - Docker Version:

Please help with this

[2021-12-15 10:14] shyim commented on #136
Does this problem still exists?

[2021-12-15 21:33] #122 closed

[2022-01-06 07:50] #136 closed

[2022-01-06 08:39] shyim commented on #129
https://github.com/shyim/shopware-docker/wiki/PhpStorm-Setup

[2022-01-06 08:39] #129 closed

[2022-01-07 10:44] #109 closed

[2022-01-13 06:54] shyim opened #141 "Add basic local setup support"
**Is your feature request related to a problem? Please describe.**

- Allow to run swdc-inside in same environment via config
- Allow defining docker path (hardcoded as now /var/www/html/)

[2022-01-18 08:45] daniel-memo-ict opened #142 "Installation of 6.3.5.4 fails with SHOPWARE_INSTALL=1"
**Describe the bug**
Recently updated swdc to the latest master. Now when I try installing an older version, for example 6.3.5.4, the migrations fail at a certain point, stating that "MigrationStep::isInstallation should return bool, string returned"
Commenting out https://github.com/shyim/shopware-docker/blob/master/modules/platform/build.sh#L34 restores functionality.

I've noticed that v1 is no

[2022-01-18 08:46] #141 closed, assigned to nobody

[2022-01-18 08:56] shyim commented on #142
I am blind I can't find the SHOPWARE_INSTALL env in the project here set 🤔

[2022-01-20 09:23] daniel-memo-ict commented on #142
It's currently only in the master branch, not in v1.

https://github.com/shyim/shopware-docker/blob/master/modules/platform/build.sh#L34

If I comment out that line everything works normally.

[2022-01-20 09:34] shyim commented on #142
Use v1. I forgot to delete the master

[2022-01-20 10:59] daniel-memo-ict commented on #142
:laughing: All good, I'll let everyone here know to use v1. But why not merge that into master, if that is the new version?

[2022-02-04 14:22] #142 closed, assigned to shyim

[2022-02-04 14:30] daniel-memo-ict opened #143 "Using latest v1, trying to install 6.2.1 or 6.1.x fails"
**Describe the bug**
I needed to test something in a 6.1.x version, for reasons. When it's installing the composer packages it fails because it uses composer 2.2, and one of the packages explicitly requires composer 1.x.
This happens for all versions up to and including 6.2.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the development template
2. Switch the git branch to tag 6.1.5

[2022-03-04 16:08] Chichis opened #144 "Restart failed after one week"
Hi shyim,

i got an error after i want to continued to develop something for shopware. Now i always got this error, if i restart the container.

![image](https://user-images.githubusercontent.com/15788657/156796801-6054fdde-330e-45d2-b227-44fb8a812758.png)

**Environment:**
 - OS:  Ubuntu 20.04
 - Docker Version:  4.5.1

[2022-03-04 16:09] shyim commented on #144
something is blocking the port
[code]

[2022-03-04 16:18] Chichis commented on #144
![image](https://user-images.githubusercontent.com/15788657/156799744-b43827af-6a3b-43dc-9b4a-0562c8a789b0.png)
 hmm ...

[2022-03-04 16:39] shyim commented on #144
run it with sudo

[2022-03-04 16:41] Chichis commented on #144
getting the same error

![image](https://user-images.githubusercontent.com/15788657/156803561-e5585897-cce1-46c2-aa5b-5af86d87eae1.png)

thanks for your fast reply :)

[2022-03-04 16:42] shyim commented on #144
I mean `sudo netstat -tulpen` :D

[2022-03-04 16:43] Chichis commented on #144
![image](https://user-images.githubusercontent.com/15788657/156803895-8511e5d1-40e4-4b8a-8fda-df5fb0c1de0e.png)
 with started containers and without

[2022-03-04 16:48] shyim commented on #144
Do you have a local mysql server installed?

[2022-03-04 16:49] shyim commented on #144
ahh nvm

[2022-03-04 16:49] shyim commented on #144
which docker version do you have installed? can you run `docker -V`

[2022-03-04 16:51] Chichis commented on #144
![image](https://user-images.githubusercontent.com/15788657/156805065-3d3d06b8-2f65-4a9f-b4e6-f9a4df33a51b.png)

yes but it wasnt started

[2022-03-10 23:46] Chichis commented on #144
@shyim hi, do you had an another idea?

[2022-04-01 08:10] zaifastafa opened #145 "admin-watch not stopping properly"
HI, It seems the admin-watch worker is not closing properly. When the admin-watch is active, I close it with Ctrl + X it does not stop. Then I close it with Ctrl + Z then it says stopped. But when doing admin-watch again, it says the
[code]
and then I have to restart the docker service to clear this orphan

[2022-04-07 12:44] daniel-memo-ict commented on #145
Can confirm, have similar problem. Still works normally with Shopware 6.4.7, so I'm assuming it's to do with the node update to v16?

[2022-04-12 07:45] zaifastafa commented on #145
@shyim any idea about this?

[2022-04-12 18:34] #145 closed, assigned to shyim

[2022-04-12 18:34] shyim commented on #144
I have no idea 🙈 . Maybe solved in the past time?

[2022-04-12 18:42] shyim commented on #143
Will be fixed with https://github.com/shyim/shopware-docker-images/commit/5c243279c26b62d8c8da5382187675b12babf7d7

[2022-04-12 18:42] #143 closed, assigned to shyim

[2022-04-12 19:01] shyim commented on #118
php.ini works now by just having a php.ini file in the project with your config

[2022-04-12 19:06] #118 closed

[2022-04-12 19:07] shyim commented on #118
Create a `.swdc/Dockerfile` file in your project

[code]

[2022-05-05 05:09] zaifastafa opened #146 "Cannot use admin commands for < 6.4"
, I m not able to complete the setup for shopware installations for version < 6.4 using standard swdc build command.

For e.g. running `swdc admin-init sw63` gives this

[code]

[2022-05-05 15:10] tinect opened #147 "Support HTTPS in watchers"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when starting the watchers within cloud-dev (you know the stuff :-) ). The watcher is always using port 80 which doesn't work on an environment which just works on https.

**Describe the solution you'd like**
Remove the port :-)

[2022-05-05 18:04] shyim commented on #147
is USE_SSL_DEFAULT set to true in the .env?

[2022-05-05 18:05] shyim commented on #146
https://github.com/shyim/shopware-docker/commit/96bc72566cefcef5d236770f2f46389ad67f1ea7

[2022-05-05 18:19] #146 closed, assigned to shyim

[2022-05-05 18:21] zaifastafa commented on #147
This env variable only sets the https on the sales channel domain I think. I cannot get the SSL to work either even if this check is set.

[2022-05-05 18:25] tinect commented on #147
it is set to true :-(

[2022-05-05 21:07] shyim commented on #147
I am pretty sure I had it working with this reverse proxy setting https://github.com/shyim/cloud-dev#example-traefik-labels-recommended

[2022-05-06 06:38] zaifastafa commented on #146
@shyim admin-watch still does not work.

[2022-05-06 06:43] shyim commented on #146
https://github.com/shyim/shopware-docker/commit/380139547213e323239f6172fda5c77bbba5279a

[2022-05-06 06:46] zaifastafa commented on #146
![image](https://user-images.githubusercontent.com/24492269/167080876-c16c5d1d-ff6d-46c2-a022-a96f31f2a990.png)

@shyim same for admin-build as well.

[2022-05-09 10:26] LiaraAlis opened #148 "/usr/bin/env: `node`: No such file or directory"
When I try run `admin-init`, `admin-build` or something like that, i always get:
`/usr/bin/env: 'node': No such file or directory`

It happens with every container but node is working inside `cli` container. Running scripts in `bin/` directly works without problems.

[2022-05-09 12:09] shyim commented on #148
Can you update swdc and update all images `swdc update-images`

[2022-05-09 14:32] LiaraAlis commented on #148
@shyim I already did this. It doesn't help. :(

[2022-05-11 12:42] zaifastafa commented on #148
@shyim this is the problem I mentioned to you on slack as well. I think for me this happens specifically for older versions of shopware.

[2022-05-11 12:44] shyim commented on #148
Which PHP versions are you all using?

[2022-05-11 13:34] zaifastafa commented on #148
Wait I think my issue is slight different but related to node only #146

[2022-05-11 16:11] LiaraAlis commented on #148
@shyim I'm using `php8.0-xdebug`

[2022-05-18 06:03] zaifastafa opened #150 "admin watch / build commands for older versions"
admin-watch and admin-build commands do not work for shopware 6.3 (6.3.5.4)

![image](https://user-images.githubusercontent.com/24492269/168968232-0541e093-d967-4c13-b7df-84649aba2516.png)

[2022-05-18 06:55] #144 closed, assigned to shyim

[2022-05-18 11:08] rvveber opened #151 "Incorrect completion fallback directory"
In case of a non-bash shell, as fallback, the completion.sh wants to access the modules folder inside the ~/Apps/shopware-docker folder.

If a user follows the installation tutorial, where you are instructed to install into the Documents folder - the fallback folder should instead be the ~/Documents/shopware-docker folder.

By changing this path from Apps to Documents i was able to get completion

[2022-05-18 12:03] shyim commented on #151
Do you have experience how to get the path on zsh? 😂

I hate that hard-code doo 😭

[2022-05-18 12:12] shyim commented on #151
okay it was easier as expected lol https://github.com/shyim/shopware-docker/commit/a14fe65fe46135a0e8ab4a7708c7da7aef891243

[2022-05-18 12:12] #151 closed, assigned to shyim

[2022-05-18 12:44] rvveber commented on #151
Nice! :D 🎊

[2022-05-18 17:58] shyim commented on #148
what is the complete docker image name?

[2022-05-18 17:59] shyim commented on #147
As we talked, this needs to be fixed in Shopware itself with the sockPort

[2022-05-18 17:59] #147 closed, assigned to nobody

[2022-05-18 18:52] shyim commented on #150
https://github.com/shyim/shopware-docker/commit/1849c3b511a91d1dc3e95442673ff1b31c40fd7d

create a `.nvmrc` and write into it 12 and try again

[2022-05-18 18:52] #150 closed, assigned to shyim

[2022-05-19 06:06] zaifastafa commented on #150
@shyim the build compiles now, but the watch URL does not work. It shows the message:

(node:56) [DEP0131] DeprecationWarning: The legacy HTTP parser is deprecated.
ℹ ｢wds｣: Project is running at http://0.0.0.0:8181/

If I use `admin-sw63.dev.localhost` -> it gives 503 service temporarily unavailable page.

[2022-05-19 06:42] shyim commented on #150
in old versions its localhost:8181

[2022-05-19 10:40] LiaraAlis commented on #148
@shyim `ghcr.io/shyim/shopware-docker/6/nginx` with tag `php80-xdebug`

[2022-05-23 14:57] rvveber opened #153 "swdc storefront-watch can't find shopware-docker_cli_1"
swdc storefront-watch shop
Error: No such container: shopware-docker_cli_1
Error: No such container: shopware-docker_cli_1

Maybe because container is called `shopware-docker-cli-1` ?

[2022-05-23 14:58] shyim commented on #153
Do you use compose v2?

[2022-05-23 15:13] rvveber commented on #153
Yes v2.5.1

[2022-05-23 15:16] rvveber commented on #153
Actually, i think that is v1, the versioning is just misleading

[2022-05-23 15:23] shyim commented on #153
Can you upgrade to v2?

[2022-05-23 15:29] rvveber commented on #153
So i created an alias from `docker-compose` to `docker compose` which is v2 syntax and therefore all instances should run on v2, I still get the same error though.
I have tried removing `/tmp/swdc-docker-compose.yml` and swdc up again, but the starting container is still `-cli-1` and in the storefront-watch shortcut it references `_cli_1`

The name of my shop project includes an underscore. client

[2022-05-23 15:55] rvveber commented on #153
Correction! the command throwing this error is storefront-watch not storefront-build...
My bad XD sorry its late..

[2022-05-23 16:01] shyim commented on #153
let me look after league game xD

[2022-05-23 16:03] shyim commented on #153
häää looks same for me

[2022-05-23 16:06] shyim commented on #153
https://github.com/shyim/shopware-docker/commit/462ef4cf1d926a8ed9f5c35f5c311a758b325aa5

[2022-05-23 16:06] #153 closed, assigned to shyim

[2022-05-23 16:07] shyim commented on #153
should be fixed xD

[2022-05-24 08:13] rvveber commented on #153
Good job! :D

[2022-05-24 08:23] cmg193 opened #154 ".htaccess file not working"
**Describe the bug**
Any change inside /project/public/.htaccess are being ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. add "deny from all" inside a shopware folder "...project/public/.htaccess"
2. page is still loading

**Expected behavior**
I expect to see my .htaccess changes in action.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environmen

[2022-05-24 09:17] shyim commented on #154
Hey

the images are by default nginx, you can switch it with in your `.config/swdc/env`

[code]

[2022-05-24 09:57] cmg193 commented on #154
Oh,
my bad.
but adding this line gives me following error:

line:
![image](https://user-images.githubusercontent.com/56188324/170004512-1b3db327-177a-45d5-8900-4efaf656a912.png)
error:
![image](https://user-images.githubusercontent.com/56188324/170004629-2ead4782-9646-4295-ac92-d0455cf2021b.png)

[2022-05-26 16:52] shyim commented on #154
Can you try `ghcr.io/shyim/shopware-docker/6/apache:php74`

[2022-05-30 06:17] cmg193 commented on #154
Yep, worked! Thanks a lot!

[2022-05-30 06:17] #154 closed, assigned to shyim

[2022-06-02 12:07] LiaraAlis commented on #148
@shyim Any updates here?

[2022-06-17 12:13] Zerotask opened #157 "bin/watch-storefront.sh webpack-dev-server: not found"
**Describe the bug**
![image](https://user-images.githubusercontent.com/20150243/174295949-d0d50e58-69c5-468f-99d9-195599c9429f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Open CLI from the container
2. Run bin/watch-administration.sh

**Expected behavior**
Admin watcher is starting without problems.

**Environment:**
 - OS: [e.g. Ubuntu 20.04] WSL2 Ubuntu 20.04 with docker image sh

[2022-06-17 12:14] Zerotask commented on #157
I also noticed previously that nodejs and npm is missing or can't be accessed. We're currently installing it via install.sh hook

[2022-06-17 12:21] Zerotask opened #158 "env INSTALL_LOCALE did not work for sales channel language"
**Describe the bug**
In my docker-compose.yml I set `INSTALL_LOCALE: de-DE` although after installation the storefront was in english language (admin was in german language). Then I noticed that the sales channel domain was set to en-GB.

**Expected behavior**
storefront is in German language.

**Environment:**
 - OS: [e.g. Ubuntu 20.04] WSL2 Ubuntu 20.04 with docker image shyim/shopware:6.4.11-ph

[2022-06-17 12:34] Zerotask commented on #157
I just restarted my docker compose due to a port conflict with the watch (8080) and now if I log into the container I can't start the watcher again and I can't run npm install. This is an odd behavior.

[2022-06-20 11:48] rvveber opened #159 "Dashes in project name might create issues."
Reproduce:

- create project with dashes in name e.g. project-demo
- Do swdc snap project-demo

mysql error: -demo not found.

[2022-06-29 07:12] LiaraAlis commented on #148
Problem still exists, unfortunately. :(

[2022-06-30 10:49] LiaraAlis commented on #148
Problem fixed myself. It was not a problem of the script.
For some reason, my local repository was not up to date although git told me that it was. :/
I noticed that after manually compared `functions.sh` with the one here in github.

[2022-06-30 10:49] #148 closed, assigned to shyim

[2022-07-20 06:38] taltholtmann opened #160 "cypress e2e tests for plugin development"
**Is your feature request related to a problem? Please describe.**
It is not possible to start cypress from a plugin folder

**Describe the solution you'd like**
Perhaps adding an optional path to the `swdc e2e`-command would be enough. The path should then point to the plugin folder, where the e2e tests are located

[2022-07-25 15:22] rvveber commented on #159
Also it's impossible to reference FOLDER_NAME in ENV Vars if they have dashes in them

[2022-07-25 15:39] rvveber opened #161 "XDebug not working on SW5 projects"
When using a SW5 Project and enabling XDEBUG as followed in the Wiki
We can only see "File not found." in the frontend.

[2022-08-04 11:53] shyim commented on #161
But you replaced the 6 in the image name with 5 right?

🤔

[2022-08-04 11:53] shyim commented on #159
I guess normalizing to underscore would work 🤔

[2022-08-04 12:03] rvveber commented on #159
Problem is just, that underscore characters are not permitted in domain names in accordance with RFC 1035, which only allows letters, digits and hyphens. This creates problems with e.g. chromes internal password filling, as it is not able to recognize a URL with an underscore.

[2022-08-04 12:08] shyim commented on #159
EWWWWWWWWWWW

so when a folder contains underscore we have to rewrite it to minus
when a folder contains minus the env has to be underscore

[2022-08-04 12:24] rvveber commented on #161
lmao, i did indeed not see this 6.
Corrected it, xdebug gets loaded, but to configure, the php.ini isn't loaded
In project root, right?

[2022-08-04 12:26] rvveber commented on #159
🤣🤣
Yeah, major turn off

[2022-08-04 12:26] shyim commented on #161
It should be auto configured. whats your environment? yes with a php.ini file in root you can configure it

[2022-08-04 12:29] rvveber commented on #161
I'm on vscode, i imagine i need to configure the xdebug.idekey to match my IDE.
but dunno, i have never really worked with xdebug before, this is my php.ini

[code]

All i know is that, those values are not beeing applied when i output phpinfo()

vscodes xdebug launch.json
[code]

[2022-08-04 12:32] rvveber commented on #161
Oh and i'm on arch linux btw. No WSL hacks relevant

[2022-08-04 12:40] shyim commented on #161
I never used vscode for xdebug always phpstorm. have no idea sorry 🙈

[2022-08-04 12:44] rvveber commented on #161
Okay NVM, xdebug works, php.ini DOES get applied,
just xdebug options don't, because apparently you don't put xdebug options into a php.ini file?

Not sure, but i imagine you could work around that with including a xdebug configuration file location via php.ini.

Thank you for the help!

[2022-08-04 12:44] #161 closed, assigned to shyim

[2022-08-08 09:06] #160 closed, assigned to nobody

[2022-08-08 15:38] ScottA38 commented on #101
@shyim I had this issue on `b7ca5e29d8037943f564a4e439490e2a365645e0`.
I tried:
`swdc update-images`
Rebooting swdc
In the end I did:
[code]

[2022-08-16 13:50] swsrmes commented on #159
@color-space On the current `v1` branch I don't have this issue any more
[code]
Can this be closed?

[2022-08-19 15:39] rammi22 opened #163 "Error on fresh installation: address already in use"
**Describe the bug**
System: Ubuntu 22.04

With a new installation and `swdc up` the system deamon response with error:
`$ swdc up
[+] Running 0/1
 ⠙ Container shopware-docker-mysql-1  Starting                                                                                                                                                           0.1s
Error response from daemon: driver failed progr

[2022-08-19 18:15] shyim commented on #163
your port 3306, 80 is bound :D

[2022-08-19 18:20] rammi22 commented on #163
Sorry , but i dont understand. Can yo maybe extend your answer. Ther is no explanation in the docu about ports and its settings

[2022-08-19 18:36] shyim commented on #163
some program is using that port already https://stackoverflow.com/questions/19071512/socket-error-errno-48-address-already-in-use

[2022-08-19 18:36] #163 closed, assigned to shyim

[2022-09-04 08:48] rammi22 opened #164 "command swdc admin-jest failed"
**Describe the bug**
Running tests using `swdc admin-jest` or `swdc admin-jest MyProjectName` failed. Execution prints available commands instead of expected run tests.

**To Reproduce**
Steps to reproduce the behavior:
1. run `swdc up MyProjectName`
2. run `swdc admin-jest`

**Expected behavior**
Running tests located in `custom/plugins/MyPluginName/src/Resources/app/administration/test`.

**Scre

[2022-09-24 19:41] Zerotask opened #166 "Add APCu"
**Is your feature request related to a problem? Please describe.**
We'd like to use APCu for caching and therefore it would be great to have APCu available.

[2022-10-07 16:33] #164 closed, assigned to shyim

[2022-10-07 16:35] Dominik28111 commented on #164
Now you have the ability to run `swdc admin-jest MyProject MyPluginName`

[2022-10-10 12:21] rammi22 commented on #164
No works, still the same bug
[code]
Can you please **provide a step by step configuration for the test setup** for custom modules?

[2022-10-10 12:23] shyim commented on #166
You can install any extension like so https://github.com/shyim/shopware-docker/wiki/Project-specific-Configuration#installing-docker-php-extensions-sample

[2022-10-10 12:23] #166 closed, assigned to nobody

[2022-10-11 09:51] rammi22 opened #169 "Old branches not working"
**Describe the bug**
Project build with `swdc create-project MyProject` only works on newest branch (6.99.99.0, HEAD, trunk)

**To Reproduce**
Steps to reproduce the behavior:

1. console: `swdc create-project MyProject`
2. console `swdc up MyProject`
4. console: `swdc build MyProject --without-demo-data`
5. checkout branch 6.1 (trying 6.2, 6.3*, 6.4.*)
6. console: `swdc up MyProject`
7. console:

[2022-10-13 09:01] shyim commented on #169
Hey,

I have no time to look into fixing Shopware 6.2 installs. Feel free to make a PR or use any other setups. It's not worth the time fixing for so old versions

[2022-10-13 09:01] #169 closed, assigned to shyim

[2022-10-13 09:46] rammi22 commented on #169
Hello @shyim

I understand your point, but you provide commands, which doesnt work. At least remove this commands or **extend/update your documentation**.

As developer it ist very painfull every time to debug not working but provided but not working tcommands in context of versions.

e.g.
`swdc admin-jest %Project% %MyPlugin%` does not work

As solution i try to execute the JEST unit test swithin

[2022-10-13 09:49] shyim commented on #169
It is open-source. Feel free to contribute and fix it :)

[2022-10-19 20:46] Zerotask commented on #166
Thank you for pointing that out.
Although I'm totally aware of the possibilities, but I prefer using your standard image.
So is there any reason to not add APCu? It could be configurable via an env var which is off by default.

[2022-10-19 20:50] Zerotask opened #171 "Define "error_reporting" via environment variable"
**Is your feature request related to a problem? Please describe.**
Shopware/Symfony are throwing a lot of deprecated exceptions lately which makes it hard to read log files.

**Describe the solution you'd like**
a simple env var to set a custom error_reporting for PHP (or any other similar solution).
And yes I know how to create my own image based on your image and modify it on my own, but that's

[2022-10-19 20:54] Zerotask opened #172 "Timezone is not working"
**Describe the bug**
by default TZ is set to Europe/Berlin, although I noticed (via product.updated_at) that it's always -2 h from Europe/Berlin time

**Expected behavior**
Should be same time then Europe/Berlin

**Environment:**
 - Docker Version: shyim/shopware:6.4.16.0-php8.0

[2022-10-19 20:56] shyim commented on #171
You can just create a `php.ini` in your project :)

https://github.com/shyim/shopware-docker/wiki/Project-specific-Configuration#changing-php-configuration

[2022-10-19 20:56] #171 closed, assigned to nobody

[2022-10-19 20:57] #172 closed, assigned to shyim

[2022-10-19 20:58] shyim commented on #172
That's hard-code in Shopware itself as has nothing todo with this setup :)

https://github.com/shopware/platform/blob/08dfd59e0d49ef0f872962b32cd3d8d1f3e3b440/src/Core/Kernel.php#L82

[2022-10-19 20:58] shyim commented on #166
It should not hurt let me a moment :D

[2022-10-19 20:59] shyim commented on #166
Here :) https://github.com/shyim/shopware-docker-images/commit/59898e4d0e7db58367a7a3d8c5f3ae6bf24c9adc

[2022-10-19 21:00] Zerotask commented on #166
Awesome! Can you add it to https://github.com/shyim/shopware as well? :)

[2022-10-19 21:03] Zerotask commented on #172
Any plans to update that in Shopware or is this behavior really wanted from Shopware (if you know that)?

[2022-10-19 21:06] shyim commented on #172
Thats wanted. It's a design decision to store only UTC and convert it for a specific user in their time zone.

The admin itself should convert it always to your datetime zone

[2022-10-19 21:09] shyim commented on #166
I have added it here

https://github.com/shyim/shopware/actions/runs/3284997607

That will take like 2 hour to build and then all shopware images have to been build 🙈

I need a native arm64 runner 😢

[2022-10-26 19:54] Vogeslu opened #173 "Storefront Watch Invalid Url"
I just created a new project with the most recent version ```6.4.16.1``` (production template) and used both commands ```swdc storefront-init [name]``` and ```swdc storefront-watch [name]```

I received following log:

[code]

Steps to reproduce the behavior:
1. Create project ```swdc create-project [name]```
2. Choose Production Template with 6.4.16.1
3. cd into project directory
4. run ```swdc s

[2022-10-26 20:44] shyim commented on #173
How does your .config/swdc/env look like?

[2022-10-27 06:08] Vogeslu commented on #173
Oops, forgot about this, sorry:

[code]

[2022-10-27 18:09] #173 closed, assigned to shyim

[2022-11-08 10:09] tinect opened #175 "admin- and storefront-build not working with flex?"
when using the flex-tpl the commands cannot be used anymore: admin- and storefront-build

[2022-11-29 08:43] #175 closed, assigned to shyim

[2022-11-29 14:23] LiaraAlis opened #177 "storefront-watch not working with production template"
Hi,

using `swdc storefront-watch` with the production template does not work propably.
Accessing the storefront under http://<foldername>.localhost:9998 the following error occur:
[code]